@import "root.css";
@import "buttons.css";

body {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    height: calc(100vh - 16px);
}

header {
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0px;
}

canvas {
    background-color: white;
    position: relative;
    height: 200px;
    width: 100%;
}

#cm_inch_buttons {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.size_button {
    padding: 8px;
    margin: 2px;
    background-color: rgb(41, 41, 41);
    color: white;
}

.size_button.active {
    background-color: var(--cb_blue);
}

#explanation {
    margin: 0px 50px;
    padding: 5px 20px;
    text-align: justify;
    background-color: white;
}

.relation {
    font-size: 1.4em;
    text-align: center;
    margin: 5px auto;
}

button {
    font-size: 1.2em;
}

#calibrate {
    background-color: #eee;
    border: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    margin: 10px;
    max-width: 200px;
    border-radius: 5px;
    transition: all .2s;
    font-size: 1.3em;
    padding: 10px;
}

#calibrate:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

#calibrate:active {
    box-shadow: none;
}