@import 'root.css';
@import 'buttons.css';

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#bottombar {
    flex: 0 0 200px;
    width: 100%;
    background-color: var(--cb_red);
}

#canvas-recto {
    background-color: white;
}

#canvas-verso {
    background-color: white;
}

.wrapper-canvas  {
    position: relative;
    min-width: 0;
    min-height: 0;
    flex: 0 0 50%;
    box-sizing: border-box;
}

.flex-vert > .wrapper-canvas.recto {
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 2px solid black;
    border-left: 4px solid black;
}

.flex-vert > .wrapper-canvas.verso {
    border-top: 2px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
}

.flex-hor > .wrapper-canvas.recto {
    border-top: 4px solid black;
    border-right: 2px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
}

.flex-hor > .wrapper-canvas.verso {
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 2px solid black;
}

.wrapper-canvas label {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 7px;
    font-variant: small-caps;
    border: 1px solid #aaa;
    background-color: white;
}

.fullsize {
    width: 100%;
    height: 100%;
}

.flex-hor {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-vert {
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.button.active-format,
.button.active-format:hover,
.button.active-format:active
{
    background-color: var(--cb_blue);
    box-shadow: none;
    border: none;
    color: white;
}

#colorpicker {
    width: 100%;
    height: 50px;
    opacity: 0;
}

#jpg-color {
    border-radius: 5px;
    position: relative;
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

#jpg-color label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-variant: small-caps;
    pointer-events: none;
}

#select-faksimile-model {
    height: 50px;
    padding: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}