@import 'root.css';
@import 'buttons.css';

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#bottombar {
    flex: 0 0 200px;
    width: 100%;
    background-color: var(--cb_red);
}

#canvas-recto {
    background-color: white;
}

#canvas-verso {
    background-color: white;
}

.wrapper-canvas  {
    position: relative;
    min-width: 0;
    min-height: 0;
    flex: 0 0 50%;
    box-sizing: border-box;
}

.flex-vert > .wrapper-canvas.recto {
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 2px solid black;
    border-left: 4px solid black;
}

.flex-vert > .wrapper-canvas.verso {
    border-top: 2px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
}

.flex-hor > .wrapper-canvas.recto {
    border-top: 4px solid black;
    border-right: 2px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
}

.flex-hor > .wrapper-canvas.verso {
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 2px solid black;
}

.flex-centered {
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.flex-start {
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
}

.wrapper-canvas label {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 7px;
    font-variant: small-caps;
    border: 1px solid #aaa;
    background-color: white;
}

.fullsize {
    width: 100%;
    height: 100%;
}

.flex-hor {
    display: flex;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-vert {
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.button.active-format,
.button.active-format:hover,
.button.active-format:active
{
    background-color: var(--cb_blue);
    box-shadow: none;
    border: none;
    color: white;
}

#colorpicker {
    width: 100%;
    height: 50px;
    opacity: 0;
}

#jpg-color {
    border-radius: 5px;
    position: relative;
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

#jpg-color label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-variant: small-caps;
    pointer-events: none;
}

#select-facsimile-model {
    height: 50px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, #ffc037, #00FF00);
    border-radius: 5px;
    transition: width 0.6s ease-in-out;
    background-size: 120% 100%;
}

.progress-text {
    z-index: 1;
}

#mode-buttons {
    max-width: 300px;
    background-color: var(--cb_red);
    flex-grow: 0;
}

#mode-options {
    /* background-color: #ffa876; */
    background-color: #ffb579;
    border-right: 1px solid #777;
    flex-grow: 1;
}

.mode.button {
    padding: 3px;
    border-radius: 0;
}

.mode.button.active {
    background-color: #ffb579;
}

#controls {
    background-color: var(--cb_red);
    flex-grow: 0;
    padding: 0px 10px;
}

.gap-5 {
    gap: 5px;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-hor,
.flex-hor *,
.flex-vert,
.flex-vert * {
    transition: .2s all;
}


input[type='range'] {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 200px; /* Full-width */
    height: 5px; /* Specified height */
    background: #eee; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

input[type='range']:hover {
    opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 12px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: var(--cb_blue); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 2px;
}

label {
    font-variant: small-caps;
    position: relative;
    display: inline-block;
    padding: 0px 10px;
}

.flex-centered {
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.mode-option-panel {
    flex-grow: 0;
    padding: 5px 20px;
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.grid-3 {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.button {
    padding: 8px 4px;
}

#facsimilate {
    width: 100%;
}

.full-width {
    width: 100%;
}
.align-center {
    text-align: center;
}

#blackwhite {
    background-color: white;
    color: black;
    font-size: 1.4em;
    font-weight: 600;
    width: auto;
    box-sizing: border-box;
    margin-left: 5px;
}

#blackwhite.inverted {
    background-color: black;
    color: white;
    box-shadow: inset 1px 1px 2px white;
    border: none;
}