@import "root.css";

html {
    overflow: hidden;
}

body {
    background: linear-gradient(356deg, var(--cb_black) 0%, rgba(71,71,68,1) 100%);
}

/* Sidebar */
#left_sidebar {
    visibility: hidden;
}

/* Scrollbars */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--cb_black);
    border-radius: 5px;
}

#table_button_wrapper {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

/* Circular Buttons */
.circularButton {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--cb_white);
    -webkit-transition: .2s;
    opacity: 0.6;
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.5);
    text-align: center;
    transition: all .2s;
}
.circularButton:hover {
    opacity: 1.0;
}
.circularButton:active {
    background-color: var(--cb_blue);
    box-shadow: none;
}
.circularButton + .circularButton {
    margin-left: 10px;
}
.circularButtonImg {
    position: relative;
    top: 10px;
    max-width: 30px;
    max-height: 30px; /* TODO: Lassen sich hier die Größen relativ bestimmen? */
}

#lighttable {
    position: fixed;
    background-image: url("../imgs/cb_logo_back.png");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
}

/* Zoom Slider */
#zoom_wrapper {
    position: absolute;
    top: 0;
    height: 50px;
    right: 10px;
    display: inline-block;
    text-align: middle;
    vertical-align: middle;
    opacity: 0.2;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#zoom_wrapper * {
    vertical-align: middle;
}
#zoom_wrapper:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#zoom_wrapper:hover{
    opacity: 1;
}
#zoom_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    transition: all .2s;
    width: 30px;
    height: 25px;
    background: #f5842c;
}
#zoom_slider::-webkit-slider-thumb:hover {
    background: rgb(231,80,54);
}

#zoom_slider::-webkit-slider-thumb:active {
    background: rgb(255,230,7);
}
#zoom_slider {
    -webkit-appearance: none;
    outline: none;
    height: 10px;
}
#zoom_wrapper > .circularButton {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    position: relative;
}
#zoom_wrapper > .circularButton > .circularButtonImg {
    vertical-align: middle;
    position: absolute;
    max-width: 15px;
    max-height: 15px;
    line-height: 36px;
    left: 10px;
}

/* Tooltips */
.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    left: 50%;
    margin-left: -60px;
}
.circularButton .tooltip {
    bottom: 125%;
}
#zoom_wrapper .tooltip {
    top: 125%;
}
.circularButton:hover .tooltip, #zoom_wrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
}