@import "root.css";
@import "buttons.css";

@import "index_sidebar.css";
@import "index_topbar.css";
@import "index_table.css";
@import "index_annotations.css";
@import "index_visual_feedback.css";
@import "index_overlay.css";

html {
    overflow: hidden;
}

body {
    background-color: #555555;
}

.glass_pane {
    backdrop-filter: saturate(180%) blur(5px);
}







.sidebar-wrapper-col {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.sidebar-wrapper-row {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
}











.sidebar_content {
    text-align: center;
    overflow-y: auto;
}

.content_collapsed {
    height: 0px;
}



.sidebar_header {
    padding-left: 10px;
    line-height: 2em;
    text-align: left;
    border-bottom: 2px #111111 solid;
    color: var(--cb_grey);
    background-color: rgba(29, 29, 27, 0.7);
    transition: 0.2s background-color;
    box-sizing: border-box;
    font-size: 1.5em;
}

.sidebar_header_title {
    font-variant: small-caps;
    position: relative;
    display: inline-block;
}

.sidebar_header_subtitle {
    margin: 10px 0px;
}

.small .sidebar_header {
    font-size: 1.3em;
}

.small .sidebar_header_help {
    visibility: hidden;
}

.arrow {
    float: right;
    position: relative;
    /* margin: 1em; */
}

.arrow:before {
    right: 5px;
    top: 10px;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    border-left-color: gray;
    transform-origin: 0 50%;
    transition: transform 0.25s;
}

.arrow.down::before {
    transform: rotate(90deg);
    transition: transform 0.25s;
}



.expanded .sidebar_header {
    background-color: rgba(164, 4, 42, 0.7);
    transition: 0.2s background-color;
}



.sidebar_content_wrapper.expanded .sidebar_content {
    height: calc(100vh - 150px);
    opacity: 1;
    padding: 0px 10px;
    transition: 0.2s all;
    box-sizing: border-box;
}

.small .sidebar_content_wrapper.expanded .sidebar_content {
    height: calc(100vh - 100px);
}

.sidebar_content_wrapper .sidebar_content {
    height: 0px;
    opacity: 0;
    transition: 0.2s all;
}

.sidebar_content_wrapper:not(.expanded) .sidebar_content * {
    display: none;
}

.sidebar_header_help {
    position: relative;
    display: inline-block;
    margin-left: 2px;
    width: 15px;
    height: 15px;
    display: none;
}

.displayWrapper {
    display: block;
    margin: 15px auto;
}

.displayWrapper * {
    display: inline-block;
    line-height: 20px;
}





.fragment_list_item {
    position: relative;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 175px;
    height: 150px;
    background-color: white;
    text-align: center;
    margin: 5px;
    border: 5px solid white;
    transition: 0.2s all;
    overflow: hidden;
    color: var(--cb_black);
    padding: 5px;
    border-radius: 5px;
}

.fragment_list_item_thumb_wrapper {
    position: relative;
    display: inline-block;
    height: 100%;
    width: calc(100% - 35px);
    transition: all .2s;
    vertical-align: middle;
}

.fragment_list_item_side {
    position: absolute;
    top: 7px;
    right: 40px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0px 5px;
    font-size: 0.8em;
    opacity: 0.7;
}

.fragment_multiselectbox {
    height: 15px;
    width: 15px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 2px;
    position: absolute;
    top: 6px;
    left: 6px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fragment_list_item_active .fragment_multiselectbox {
    background-color: var(--cb_orange);
}

.fragment_list_item_active .fragment_multiselectbox::before {
    content: 'x';
    line-height: 10px;
    color: black;
}

.fragment_list_item:not(.fragment_list_item_active) .fragment_multiselectbox:hover::before {
    content: 'x';
    line-height: 10px;
    color: gray;
    font-weight: bold;
}

.fragment_list_item_side.recto::before {
    content: 'recto';
}

.fragment_list_item_side:not(.recto)::before {
    content: 'verso';
}

.fragment_list_item_thumbnail {
    position: absolute;
    margin: auto;
    top: 50%;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

.fragment_list_item_name {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 0px 4px;
}

.fragment_list_item_button_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 30px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px;
}

.fragment_list_item_active .fragment_list_item_thumb_wrapper {
    background-color: var(--cb_orange);
}

.fragment_list_item_active {
    border: 5px solid var(--cb_orange);
}

.fragment_list_item_highlighted .fragment_list_item_thumb_wrapper {
    background-color: #a4042a;
}

.fragment_list_item_highlighted {
    border: 5px solid #a4042a;
}

#fragment_list_nocontent {
    text-align: center;
    line-height: 50px;
    font-size: 1.2em;
    margin: auto;
}

.fragment_list_button:active {
    background-color: var(--cb_blue);
    box-shadow: none;
}

.fragment_list_item_button_remove {
    background-image: url('../imgs/symbol_x.png');
    background-size: contain;
}

.fragment_list_item_button_goto {
    background-image: url("../imgs/symbol_target.png");
    background-size: contain;
}

.fragment_list_item_button_tpop {
    background-image: url("../imgs/symbol_extern.png");
    background-size: contain;
}

.fragment_list_item_button_edit {
    background-image: url("../imgs/symbol_edit.png");
    background-size: contain;
}

.fragment_list_item_button_lock {
    background-image: url("../imgs/symbol_unlocked.png");
    background-size: contain;
}

.fragment_list_item_button_lock.locked {
    background-image: url("../imgs/symbol_locked.png");
    background-size: contain;
    background-color: #eee;
    border: 1px solid #eee;
    filter: invert(100%);
    border-radius: 10%;
}

.fragment_list_item_button {
    width: 15px;
    height: 15px;
    transition: all .2s;
    opacity: 0.5;
    cursor: pointer;
}

.fragment_list_item:hover .fragment_list_item_button {
    opacity: 1;
}

.fragment_list_item_button:hover {
    width: 20px;
    height: 20px;
}

.hidden {
    /* visibility: hidden; */
    display: none !important;
}






/* Scrollbars */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--cb_black);
    background: var(--cb_darkred);
    border-radius: 5px;
}




/* Circular Buttons */



.circularButtonWrapper {
    display: inline-block;
    width: 50px;
    height: 50px;
}


.button_active,
.button.button_active,
.narrow_button.button_active,
.wide_button.button_active
{
    background-color: var(--cb_blue);
    box-shadow: inset 1px 1px 5px black;
}

#lighttable {
    position: fixed;
    /* background-image: url("../imgs/cb_logo_back.png"); */
    background-image: url("../imgs/VLT_logo_square_background.png");
    background-size: contain;
    /* filter: invert(30%); */
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
}

#lighttable.measure {
    cursor: url('../imgs/symbol_measure_cursor.png'), auto !important;
}

#lighttable.cursor-pin {
    cursor: url('../imgs/symbol_pin_cursor.png'), auto;
}




/* Tooltips */

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    left: 50%;
    margin-left: -60px;
}

.squareButton .tooltip {
    bottom: 125%;
}




.squareButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}



.annotation {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid lightgrey;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.annotation:not(:last-of-type) {
    margin-bottom: 20px;
}

.annotation.highlighted {
    background-color: var(--cb_orange);
}

.annot_text {
    width: 100%;
    text-align: justify;
    max-height: 250px;
    padding: 2px 5px;
    overflow-y: auto;
}

.annot_edit {
    background-image: url('../imgs/symbol_edit.png');
}

.annotation_content_wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.annotation_button_wrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    float: right;
    background-color: #eee;
    border: 1px solid #ddd;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.annot_button {
    box-sizing: border-box;
    user-select: none;
    transition: all .2s;
}

.annot_button_small {
    width: 30px;
    height: 30px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.annot_button_small:hover {
    background-size: 90%;
}


.annot_delete {
    background-image: url('../imgs/symbol_x.png');
}

.annot_editor,
.annot_time {
    display: inline-block;
    font-size: 0.8em;
}

.annot_time {
    color: #999;
}

.annot_editor {
    margin-right: 5px;
    font-weight: 600;
}

.annot_sig {
    float: right;
    font-style: italic;
    margin: 0px 10px;
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
}

.annot_hidden .annotation_content_wrapper,
.annot_hidden .annot_sig,
.annot_hidden .annotation_button_wrapper *:not(.annot_hide) {
    display: none;
}

.annotation.annot_hidden {
    background-color: transparent;
    border: none;
    border-top: 2px solid gray;
    padding-top: 2px;
    padding-bottom: 2px;
}

.annotation.annot_hidden_shown {
    background-color: #ccc;
    color: #555;
}

.annotation.editable {
    background-color: yellow;
}

.annotation.edit {
    border: 5px solid darkorchid;
}

.annotation.edit .annot_edit {
    background-color: greenyellow;
    border: 2px solid darkorchid;
}

.annot_editable_tag {
    position: absolute;
    right: 60px;
    font-size: 0.6em;
    background-color: rgba(255,255,255,0.9);
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 2px 5px;
}



.annot_hide {
    background-image: url('../imgs/symbol_no_eye.png');
}

.annotation.annot_hidden .annot_hide,
.annotation.annot_hidden_shown .annot_hide {
    background-image: url('../imgs/symbol_eye.png');
}



.annotation:hover .annot_hide,
.annotation.annot_hidden .annot_hide {
    opacity: 1;
}



.annot_pin {
    width: 30px;
    height: 30px;
    background-image: url("../imgs/symbol_pin_black.png");
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}











.sidebar_content .sidebar_header_title {
    display: block;
    font-size: 1.2em;
}

.color_button {
    display: inline-block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid black;
}

.color_button.white {
    background-color: white;
}

.color_button.black {
    background-color: black;
}

.color_button.darkblue {
    background-color: darkblue;
}

.color_button.grey {
    background-color: grey;
}

.color_button.pink {
    background-color: #ff00ff;
}

.color_button.selected {
    border: 2px solid var(--cb_orange);
}


/* .small .wide_button .button_label {
  display: none;
} */

.measurement {
    display: flex;
    width: 90%;
    height: 30px;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
}

.measurement:hover {
    background-color: black;
}

.measurement.active {
    background-color: black;
}

.measure-line-wrapper {
    position: relative;
    flex: 1 0 auto;
    height: 80%;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 20px;
}

.measure-line-wrapper:hover {
    background-color: #444;
}

.measure-line {
    flex: 1 0 auto;
    height: 5px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* min-width: 20px; */
}

.measure-color {
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.measure-distance {
    flex: 0 0 50px;
    margin: 0px 5px;
    line-height: 30px;
    white-space: nowrap;
}





/* TOPBAR */



.table_item {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    height: calc(100% - 10px);
    width: 150px;
    background-color:rgb(39, 39, 39);
    box-sizing: border-box;
    margin: 5px;
    box-shadow: 2px 2px 5px black;
    animation-name: slideUp;
    animation-duration: .2s;
    border-radius: 5px;
    transition: all .2s;
}

.table_item:hover {
    background-color:  rgb(83, 83, 83);
}

.table_item.activeTable {
    border: 2px solid var(--cb_orange);
    box-shadow: none;
}



.table_close {
    color: white;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 100%;
    text-align: center;
    transition: all .2s;
}

.table_close:hover {
    width: 25px;
    height: 25px;
}

.table_close img {
    max-height: 100%;
    max-width: 100%;
    filter: invert(1);
}

.table_header {
    width: calc(100% - 20px);
    flex: 0 0 auto;
    height: 30px;
    line-height: 30px;
    padding-right: 15px;
    padding-left: 5px;
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}

.table_header.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    color: white;
}

.table_screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: calc(100% - 30px);
    flex: 0 1 auto;
}

.table_item.activeTable .table_screenshot {
    background-color: var(--cb_blue);
}

.table_screenshot img {
    max-width: 100%;
    max-height: 100%;
}

.table_screenshot.empty {
    display: none;
}



.table_renew_screenshot {
    position: absolute;
    bottom: 4px;
    right: 4px;
    height: 25px;
    width: 25px;
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(150, 150, 150, 0.5);
    transition: all .2s;
}

.table_renew_screenshot:hover {
    background-color: rgba(200,200,200,0.9);
}

.table_renew_screenshot img {
    width: 70%;
    height: 70%;
    transition: .2s all;    
}

.table_renew_screenshot:hover img {
    width: 80%;
    height: 80%;
}

.table_item.activeTable .table_renew_screenshot {
    display: flex;
}

.unsaved_dot {
    position: absolute;
    display: none;
    top: 35px;
    left: 5px;
    height: 10px;
    width: 10px;
    background-color: var(--cb_orange);
    border-radius: 5px;
}

.table_item.unsaved .unsaved_dot {
    display: block;
}

.underline {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.underline_double {
    text-decoration-line: underline;
    text-decoration-style: double;
}

.underline_dotted {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

input[type='checkbox'] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
    transition: all .2s;
}

.displayWrapper:hover input[type='checkbox']:not(:checked) {
    background-color: var(--cb_orange);
}

input[type='checkbox']:checked {
    background-color: var(--cb_darkred);
}


.graphics-filter {
    margin-bottom: 20px;
}


    
@-webkit-keyframes animate-stripes {
    100% { background-position: -100px 0px; }
}       
@keyframes animate-stripes {
    100% { background-position: -100px 0px; }
}   







.wrapper_workarea_size {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

.wrapper-vertical {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.workarea_size {
    flex-shrink: 1;
    flex-grow: 0;
    max-width: calc(100% - 150px);
    min-width: 80px;
    width: 80%;
    margin-right: 5px;
    text-align: right;
    appearance: none;
    padding-left: 30px;
}

.wrapper_workarea_size label {
    width: 80px;
    text-align: left;
    line-height: 30px;
    height: 100%;
    margin-bottom: 0;
}

.workarea_size.error {
    background-color: red;
}

.wrapper_tool {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}







.context-item {
    position: relative;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.context-item:hover {
    /* box-shadow: 3px 3px 4px black; */
}

.context-img-wrapper {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 3px 3px 4px black;
    border-bottom: 1px solid gray;
}

.context-img {
    padding: 10px;
    /* filter: invert(1); */
    flex-grow: 0;
    flex-shrink: 1;
    width: 50px;
    height: 50px;
    transition: all .2s;
}

.context-item:hover .context-img {
    padding: 8px;
}

.context-item:hover .context-img-wrapper,
.context-item:hover .context-label {
    background-color: rgba(230,230,230,0.9);
}

.context-label {
    /* box-shadow: 3px 3px 8px black; */
    position: relative;
    display: flex;
    background-color: rgba(255,255,255,0.9);
    flex-grow: 5;
    width: 0;
    opacity: 0;
    transition: all .2s;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #eee;
}

.context-item:hover .context-label {
    width: 150px;
    opacity: 1;
}





.wrapper-vertical {
    display: flex;
    flex-direction: row;
}

.wrapper-horizontal {
    display: flex;
    flex-direction: column;
}

.wrapper-centered {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


#overlay-drop {
    position: fixed;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: rgba(200,200,200,1);
    z-index: 100;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px black;
    border: 3px dashed black;
    display: none;
}

#overlay-drop.hovered {
    background-color: rgba(240,240,240,1);
}

#overlay-drop .drop-text {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

#overlay-drop img {
    max-height: 100px;
    max-width: 100px;
    animation: animate-drop 1s infinite;    
}

#loading-gif {
    padding: 20px;
    border-radius: 20px;
    background-color: black;
    width: 500px;
    height: 500px;
}