/* Colour definitions */
:root {
    --cb_black: #1d1d1b;
    --cb_red: #f15b40;
    --cb_orange: #f5852c;
    --cb_blue: #1c5a9c;
    --cb_gray: #d8e0e4;
    --cb_grey: #d8e0e4;
    --cb_white: #ffffff;
    --cb_darkred: #a4042a;
}

/* Font definitions */
* {
    font-family: "Segoe UI", "Advent Pro SemiBold", sans-serif;
}

.no-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.unrendered {
    display: none !important;
}

.development {
    display: none !important;
}

/* Scrollbars */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(20, 20, 20, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--cb_black);
    background: var(--cb_darkred);
    border-radius: 5px;
}

#table_button_wrapper {
    position: fixed;
    display: flex;
    bottom: 10px;
    right: 20px;
}

.wrapper-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.wrapper-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input.input-with-image {
    padding-left: 26px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 5px 5px;
}

.small input.input-with-image {
    background-size: 14px;
    background-position: 3px 3px;
}

/* Animations */

@keyframes slideUp {
    from {
        opacity: 0;
        top: 40px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

@keyframes slideDown {
    from {
        opacity: 1;
        top: 0px;
    }
    to {
        opacity: 0;
        top: 40px;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
