@import "root.css";

html {
    border: 5px solid var(--cb_black);
    height: 100%;
    box-sizing: border-box;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

body {
    background-color: var(--cb_darkred);
    font-family: "Segoe UI", "Advent Pro SemiBold", sans-serif;
    color: var(--cb_white);
    transition: all .2s;
}

.title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

#close_window {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 2em;
    text-align: center;
    transition: color .1s;
}

#close_window:hover {
    color: grey;
}

#close_window:active {
    color: var(--cb_blue);
}

input[type=text] {
    background-color: rgb(216,224,228);
    border-bottom: 1px solid rgb(100,100,100);
    border-left: none;
    border-right: none;
    border-top: none;
    width: calc(100% - 10px);
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin: 0 auto 30px auto;
}

input[type=button] {
    width: 50px;
    height: 50px;
    background-color: white;
    background-size: contain;
}

#filedialog {
    background-image: url("../imgs/symbol_save.png");
}

#clearpath {
    background-image: url("../imgs/symbol_minus_zoom.png");
}

#path {
    width: calc(100% - 130px);
    font-style: italic;
    color: grey;
}