@import "root.css";
@import "buttons.css";

* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

header {
    font-variant: small-caps;
    font-size: 2.5em;
    margin-top: 30px;
}

.wrapper-horizontal {
    display: flex;
    flex-direction: row;
}

.wrapper-vertical {
    display: flex;
    flex-direction: column;
}

.centered {
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
}

.align-right {
    justify-content: end;
    text-align: right;
}

.margin-vertical {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-horizontal {
    margin-left: 20px;
    margin-right: 20px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.label-img {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 0px 20px 0px 0px;
}

.label {
    width: 120px;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--cb_darkred);
}

.label-left {
    text-align: right;
}

input[type="text"],
input[type="url"]
{
    margin: 0px 10px;
    height: 30px;
    line-height: 30px;
}

input[type="url"] {
    min-width: 500px;
    width: 75%;
}

input[type="text"] {
    width: 100px;
}

input.error {
    background-color: red;
}

.vertical-line {
    height: 100%;
    width: 2px;
    background-color: #666;
}


/* more specifics */

#ppi {
    font-size: 1.3em;
}

#ppi-label {
    margin-right: 20px;
}


.inline-true {
    background-color: rgb(130, 226, 118);
    font-size: 1.4em;
    padding: 5px 4px;
    border-radius: 4px;
    line-height: 20px;
}

.inline {
    display: inline-block;
}

#save-path {
    background-image: url('../imgs/symbol_folder.png');
}

#minZoom {
    background-image: url('../imgs/symbol_minus_zoom.png');
}

#maxZoom {
    background-image: url('../imgs/symbol_plus_zoom.png');
}

#stepZoom {
    background-image: url('../imgs/symbol_ruler.png');
}