@import 'root.css';

/*
html {
    height: 100%;
}
*/

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    color: white;
    padding: 5px 0px;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.vertical_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

#gif-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}

#loading-gif {
    max-height: 420px;
    margin: auto;
}

.h1 {
    font-size: 1.8em;
    font-weight: 300;
    padding-top: 4px;
    padding-bottom: 4px;
}

.h2 {

}

#status-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 15px 0px 10px 0px;
    padding: 3px 0px;
    width: 100%;
    background: rgb(36, 48, 53);
    flex-shrink: 0;
}

#status {
    font-style: italic;
}