@import 'root.css';

* {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

body {
    background-color: purple;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 0;
    margin: 0px;
}

.title {
    font-variant: small-caps;
    font-size: 1.4em;
}

.subtitle {
    margin-top: 20px;
    font-variant: small-caps;
    font-size: 1.2em;
}

#sidebar {
    position: relative;
    background-color: #aaa;
    width: 250px;
    max-width: 300px;
    min-width: 0px;
    flex: 0 0 auto;
    text-align: center;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#version, #version span {
    font-family: monospace;
    font-size: 0.9em;
    text-align: left;
    margin: 5px 2px;
}

#filter-section {
    flex-grow: 1;
}

.filter {
    background-color: white;
    max-width: 90%;
    margin: 5px auto;
    padding: 2px;
    position: relative;
    border-radius: 5px;
}

.filter-delete {
    position: absolute;
    right: 5px;
    top: 0px;
    font-weight: bold;
    color: #ccc;
    transition: all .1s;
}

.filter-delete:hover {
    color: black;
}

.filter-descriptor {
    padding-right: 8px;
}

#main-area {
    background-color: #333;
    display: flex;
    width: calc(70vw - 254px);
    flex-direction: column;
    /* gap: 4px; */
    flex-shrink: 1;
}

#tpop-tile-view {
    display: flex;
    height: calc(100vh - 250px);
    flex-direction: row;
    /* background-color: rgb(177, 141, 26); */
    overflow-y: hidden;
}

#tpop-tile-view .rotated-title {
    background-color: rgb(255, 197, 6);
    color: black;
}

#loading-tile-view {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #445;
    height: 180px;
    align-items: center;
    min-width: 0;
    flex-shrink: 0;
    /* overflow: hidden; */
}

#loading-view {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 20px);
    overflow-x: hidden;
    gap: 4px;
    overflow-y: hidden;
}

#load-area {
    position: relative;
    display: flex;
    flex-shrink: 0;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button {
    background-color: var(--cb_orange);
    padding: 5px 20px;
    box-shadow: 2px 2px 3px black;
    transition: all .1s;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

.button:hover {
    background-color: rgb(255, 205, 129);
}

.button:active {
    box-shadow: none;
    background-color: var(--cb_blue);
}

.button.inactive {
    background-color: grey;
    box-shadow: none;
    cursor: default;
}

.rotated-title {
    font-size: 1.2em;
    color: white;
    writing-mode: vertical-lr;
    transform: scale(-1);
    text-align: center;
    padding: 2px;
}

.browse-arrow {
    width: 40px;
    height: 100%;
    flex-shrink: 0;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    transition: all .1s;
}

.browse-arrow:hover {
    background-color: #777;
}

#tpop-right-arrow:not(.inactive):hover,
#tpop-left-arrow:not(.inactive):hover {
    background-color: rgb(139, 107, 0)
}

#loading-right-arrow:not(.inactive):hover,
#loading-left-arrow:not(.inactive):hover {
    background-color: rgb(71, 71, 121);
}

.browse-arrow:active {
    background-color: var(--cb_blue);
}

.browse-arrow.inactive {
    background-color: #666;
    color: #888;
}

#tile-view {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 4px;
    overflow-y: auto;
}


.tile {
    position: relative;
    background-color: #222;
    width: 150px;
    height: 150px;
    color: white;
    text-align: center;
    transition: background-color .2s;
    animation-name: slideUp;
    animation-duration: .2s;
    flex-shrink: 0;
}

.tile:hover {
    background-color: #666;
}

.tile:hover .name {
    background-color: rgba(0,0,0,0.5);
}

.tile:hover .distance {
    background-color: rgba(255,255,255,0.5);
}

.tile.selected {
    border: 4px solid orange;
    background-color: #444;
}

.tile.loading {
    background-color: var(--cb_blue);
}

.used {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-variant: small-caps;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,50,0,0.6);
}

.used::before {
    content: 'Used!';
}

.tile img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tile .name {
    position: absolute;
    width: 100%;
    padding: 0px 5px;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    transition: all .2s;
}

.tile .distance {
    position: absolute;
    top: 1px;
    right: 1px;
    color: green;
    font-size: 0.7em;
    padding: 0px 5px;
    transition: all .2s;
}

.multibox {
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    bottom: 3px;
    left: 3px;
    box-shadow: 2px 2px 2px black;
    transition: all .2s;
    border-radius: 3px;
}

.ml-indicator {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.ml-indicator.positive {
    background-color: greenyellow;
}

.ml-indicator.negative {
    background-color: red;
}

.multibox:hover {
    background-color: #ddd;
}

.multibox:active,
.tile.loading .multibox {
    background-color: var(--cb_blue);
    box-shadow: inset 1px 1px 3px black, inset -1px -1px 3px white;
}

.tile.loading .multibox:hover {
    background-color: lightblue;
}

#detail-view {
    background-color: #aaa;
    width: 30vw;
    min-width: 0px;
    max-width: 50vw;
    text-align: center;
    padding: 10px 0px;
    flex: 0 0 auto;
    overflow-x: hidden;
}

#detail-name {
    display: inline-block;
    margin-right: 5px;
}

.detail-symbol {
    display: inline-block;
    width: 15px;
    height: 15px;
    transition: all .2s;
    cursor: pointer;
}

.detail-symbol:hover {
    width: 20px;
    height: 20px;
}

.detail-image {
    max-width: 100%;
    max-height: 20vh;
    transition: max-height .2s;
}

.detail-image:hover {
    max-height: 30vh;
}

#detail-add-joins,
#detail-remove-joins
{
    width: 20%;
    background-color: var(--cb_orange);
    margin: 5px auto;
    padding: 5px 10px;
    font-variant: small-caps;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    display: inline-block;
}

#detail-add-joins:hover,
#detail-remove-joins:hover
{
    background-color:rgb(255, 205, 129);
}

#detail-add-joins:active,
#detail-remove-joins:active
{
    background-color: var(--cb_blue);
    box-shadow: none;
}

.detail-join-item {
    position: relative;
    display: flex;
    background-color: white;
    width: 60%;
    height: 30px;
    margin: 2px auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.detail-join-item.loading {
    background-color: var(--cb_blue);
    color: white;
}

.detail-join-item:hover {
    background-color: #ddd;
}

.detail-join-add-item {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
}

.detail-join-add-item img {
    width: 100%;
    height: 100%;
    padding: 2px;
    transition: all .1s;
}

.detail-join-add-item:hover img {
    padding: 0px;
}

.warning {
    background-color: rgb(255, 228, 228);
    border: 2px solid red;
    color: red;
    padding: 5px 0px;
}

.area {
    height: 100vh;
}

.resize-slider {
    width: 2px;
    height: 100vh;
    background-color: #666;
    cursor: ew-resize;
    transition: background-color .2s, width .2s;
    flex: 0 0 auto;
}

.resize-slider:hover, .resize-slider:active {
    background-color: #111;
    width: 8px;
}

#folder-grid {
    padding: 20px;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    overflow-x: hidden;
    overflow-y: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.folder-tile {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    transition: all .2s;
}

.folder-tile:hover {
    background-color: rgb(243, 226, 171);
}

.folder-image {
    position: relative;
    max-width: calc(90% - 25px);
    max-height: calc(90% - 25px);
    margin: auto;
}

.folder-amount {
    position: absolute;
    transition: all .2s;
    background-color: rgb(252, 166, 166);
    /* border: 1px solid red; */
    height: 40px;
    width: 40px;
    border-radius: 20px;
    right: 10px;
    top: 10px;
    line-height: 40px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.folder-tile:hover .folder-amount {
    background-color: rgb(79, 233, 79);
}

.folder-label {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    bottom: 0;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

#filter-overlay,
#folder-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    animation-name: fadeIn;
    animation-duration: .2s;
}

#filter-form {
    font-size: 1.2em;
}

#filter-close,
#folder-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 2em;
    color: #aaa;
    transition: all .1s;
}

#filter-close:hover,
#folder-close:hover {
    color: white;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.flex-vert {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-hor {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.filter-title {
    font-size: 1.2em;
    text-align: center;
}

.filter-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.filter-input {
    height: 30px;
    width: 350px;
}

#filter-attribute-dropdown {
    height: 30px;
    width: 20px;
    background-color: gray;
}

#attribute-autocomplete-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: calc(50% + 25px);
    left: 0;
    font-size: 0.8em;
}

#attribute-autocomplete-items div:hover {
    font-size: 1.2em;
    transition: all .2s;
}

.autocomplete-highlight {
    background-color: yellow;
    font-weight: bold;
    color: black;
}

#filter-attribute-list {
    background-color: white;
    color: black;
    position: absolute;
    top: calc(50% + 15px);
    left: 0;
    width: 350px;
    max-height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
}

#filter-attribute-list div {
    border-bottom: 1px solid black;
    font-size: 0.9em;
    padding: 1px 0px 1px 5px;
}

#filter-attribute-list div:hover {
    background-color: gray;
    font-weight: bold;
}

#filter-operator-container {
    margin: 0px 20px;
}

#filter-operator-wheel div {
    padding: 2px 5px;
    background-color: white;
    color: black;
}

#filter-operator-wheel div:hover {
    background-color: gray;
}

#filter-operator-wheel .operator-selected {
    background-color: lightgreen;
}

#filter-operator-container,
#filter-value-container {
    animation-name: slideUp;
    animation-duration: .2s;
}

#filter-add-button {
    padding: 10px 20px;
    background-color: white;
    box-shadow: 2px 2px 4px #333;
    font-variant: small-caps;
    font-size: 1.2em;
    color: black;
    transition: all .2s;
}

#filter-add-button:hover {
    background-color: #aaa;
}

#filter-add-button:active {
    box-shadow: none;
    background-color: #666;
}

#reload-json {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 3px;
    background-color: green;
    border-radius: 5px;
    transition: all .2s;
}

#reload-json:hover {
    background-color: lightgreen;
    padding: 1px;
}

#reload-json img {
    width: 90%;
    height: 90%;
}

#flip-grid {
    position: absolute;
    padding: 6px;
    right: 5px;
    height: 50px;
    width: 50px;
    background-color: #ccc;
}

#flip-grid-label {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 20px;
    width: 20px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    text-align: center;
    line-height: 100%;
}

#flip-grid-label.recto::before {
    content: 'rt';
}

#flip-grid-label:not(.recto)::before {
    content: 'vs';
}

#flip-grid:hover {
    padding: 1px;
}

#flip-grid img {
    height: 100%;
    width: 100%;
}

#ml-toggle-area {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    padding: 20px 0px;
    line-height: 28px;
    font-variant: small-caps;
}

.switch {
    position: relative;
    display: inline-block;
    margin: 0px 10px;
    width: 50px;
    height: 28px;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cb_red);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--cb_blue);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--cb_blue);
}

input:checked + .slider:before {
    transform: translateX(22px);
}

.weight {
    margin: 10px 0px;
}

input[type=text].inactive {
    background-color: rgb(179, 179, 179);
    border: 1px solid grey;
}

.button-label {
    display: inline-block;
    overflow-wrap: break-word;
}

.button img {
    display: inline-block;
    max-height: 90%;
    max-width: 90%;
}

#select-folder {
    width: 180px;
    height: 50px;
    padding: 5px;
}

#filter-add {
    width: 180px;
    height: 50px;
    padding: 5px;
    margin-bottom: 20px;
}
