@import 'root.css';
@import 'buttons.css';

::selection {
    background-color: var(--cb_orange);
}

* {
    box-sizing: border-box;
}

*.disabled {
    background-color: rgb(140, 140, 140) !important;
    box-shadow: none !important;
}

*.missing {
    background-color: darkred !important;
}

@keyframes missing_pulsate {
    from { border-width: 1px; }
    to { border-width: 5px; }
}

.missing_pulse {
    border: 1px solid red;
    animation-name: missing_pulsate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 0.5s;
}

*.unrendered {
    display: none !important;
}

*.hidden {
    visibility: hidden;
}

.brush {
    cursor: none;
}

.red_text {
    color: rgb(255, 75, 75);
    font-weight: bold;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--cb_darkred);
    border-radius: 5px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cb_blue);
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.button {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    background-color: var(--cb_grey);
    transition: all .1s;
    font-size: 1.1em;
    user-select: none;
    color: black;
}

.button:hover:not(.disabled) {
    box-shadow: 4px 4px 8px black;
    font-size: 1.2em;
    background-color: white;
    cursor: pointer;
}

.button:active:not(.disabled),
.button.active_mode:not(.disabled),
.button.active:not(.disabled) {
    box-shadow: inset 2px 2px 3px black, inset -1px -1px 2px #333333 !important;
    background-color: var(--cb_blue) !important;
}



.square_button {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.square_button_img {
    width: 50px;
    height: 50px;
    padding: 10px;
    transition: padding .1s;
}

.square_button:hover:not(.disabled) .square_button_img {
    padding: 7px;
}

.square_button:active:not(.disabled) .square_button_img,
.square_button.active_mode:not(.disabled) .square_button_img {
    padding: 12px;
}

/* UPPER REGION */

#upper_region {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

#canvas_region {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100% - 60px);
}

.canvas_wrapper {
    width: calc(50% - 0px);
    position: relative;
}

#recto_canvas {
    border-right: 2px solid black;
}

#verso_canvas {
    border-left: 2px solid black;
}

canvas {
    background-color: rgb(54, 54, 54);
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: box-shadow 0.2s;
    border: 4px solid black;
}

canvas:hover {
    box-shadow: 5px 5px 20px black, inset 0px 0px 10px white;
    z-index: 5;
}

canvas.move {
    cursor: move;
}

canvas.rotate {
    cursor: url('../imgs/symbol_rotate.png'), auto;
}

canvas.pointer {
    cursor: pointer !important;
}

canvas.add_polygon_node {
    cursor: url('../imgs/symbol_cut_cursor.png'), auto;
}

canvas.remove_polygon_node {
    cursor: url('../imgs/symbol_erase_cursor.png'), auto;
}

canvas.active {
    background-color: white;
}

canvas.scale {
    cursor: url('../imgs/symbol_measure_cursor.png'), auto;
}

canvas.addPolygonNode {
    cursor: url('../imgs/symbol_cut_cursor.png'), auto;
}

canvas.removePolygonNode {
    cursor: url('../imgs/symbol_erase_cursor.png'), auto;
}

.upload_wrapper {
    position: absolute;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload_label {
    font-variant: small-caps;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

#button_region {
    display: flex;
    flex-direction: row;
    height: 50px;
    line-height: 50px;
    color: white;
}

#recto_button_region,
#verso_button_region {
    display: flex;
    flex-direction: row;
}

#general_button_region {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ppi_wrapper {
    white-space: nowrap;
    margin: 0px 10px;
}

.input_ppi {
    width: 60px;
    height: 30px;
    align-self: center;
    text-align: center;
}

.label {
    font-variant: small-caps;
}

.label_ppi {
    display: inline-block;
}

.canvas_title {
    font-size: 1.5em;
    margin: 0px 15px;
}

/* LOWER REGION */

#lower_region {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 8px;
    color: white;
}

.header {
    font-size: 1.5em;
    font-variant: small-caps;
    margin-bottom: 10px;
}

#manual_region {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#manual_text {
    /* background-color: #598fc9; */
    padding: 8px;
    text-align: justify;
    font-size: 0.8em;
    width: 30vw;
}

#mask_region {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 0px 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#load_region {
    color: white;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

#load_region_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

#objectname {
    width: 90%;
    height: 30px;
    background-color: #598fc9;
    box-shadow: none;
}

#mask_selection_region {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

#mask_selection {
    z-index: 10;
}

.list {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
}

.list_item {
    padding: 2px 10px 2px 2px;
    display: flex;
    flex-direction: row;
    background-color: var(--cb_grey);
    height: 36px;
    line-height: 36px;
    max-width: 200px;
    transition: all .1s;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    color: black;
}

.list_item:hover {
    background-color: white;
}

.list_item:active {
    background-color: var(--cb_blue);
}

.list_item img {
    height: 36px;
    width: 36px;
    padding: 5px;
    transition: padding .1s;
}

.list_item:hover img {
    padding: 2px;
}

.list_item_label {
    flex-grow: 1;
    margin-left: 10px;
    user-select: none;
    text-align: center;
}

.list:not(.open) .list_item:not(.selected) {
    display: none;
}

#mask_control_region {
    flex-grow: 1;
    display: flex;
    align-items: center;
    align-content: center;
}

#mask_control_panel_automatic {
    gap: 50px;
}

#wrapper-light {
    height: 80px;
}

#wrapper-light-symbols {
    flex-grow: 1;
    height: 100%;
    justify-content: space-between;
}

#wrapper-brush {
    gap: 20px;
}

#mask_control_opacity_slider {
    appearance: slider-vertical;
    flex-shrink: 1;
    width: 8px;
    height: 80px;
}

.small_image {
    /* width: 20px; */
    height: 20px;
}

.mask_controls:not(.selected) {
    display: none;
}

.mask_explanation {
    font-size: 0.8em;
    padding: 8px 0px 0px 0px;
    text-align: justify;
}

.mask_explanation:not(.selected) {
    display: none;
}

.mask_controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    padding: 5px 0px;
}

.mask_controls_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 10px;
    padding: 5px 0px;
}

#mask_automatic_model {
    height: 50px;
    padding: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}

a {
    color: var(--cb_orange);
}

.subtitle {
    width: 100%;
}

#mask_control_tensorflow_panel {
    width: 100%;
    padding: 0px 20%;
}

#mask_control_tensorflow_panel .button {
    margin: 10px 0px;
    padding: 5px 2px;
    text-align: center;
}
/* 
#mask_selection_automatic_button {
    /* height: 50px; */
    /* padding: 10px; */
    /* width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#mask_selection_delete_model,
#mask_control_automatic_delete {
    background-color: var(--cb_darkred);
}

/* .mask_control_button {
    height: 50px;
    width: 50px;
    background-color: gray;
    box-shadow: 2px 2px 4px black;
}

.mask_control_button img {
    max-width: 100%;
    max-height: 100%;
    padding: 8px;
} */

/* TUTORIAL REGION */

#tutorial_region {
    display: block;
}

#tutorial_shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
}

#tutorial_box {
    width: 400px;
    min-height: 600px;
    max-height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--cb_grey);
    transform: translate(-50%, -50%);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    border: 3px #333333 solid;
}

#tutorial_close {
    position: absolute;
    right: -50px;
}

#tutorial_close img {
    width: 50xp;
    height: 50px;
    padding: 10px;
    transition: padding .1s;
    filter: invert(1);
}

#tutorial_close img:hover {
    padding: 7px;
}

.tutorial_image {
    background-color: yellow;
    width: 100%;
    height: 180px;
    flex-shrink: 0;
    margin: 5px 0px;
}

.tutorial_header {
    font-variant: small-caps;
    padding: 10px 0px 0px 0px;
    font-size: 1.2em;
}

.tutorial_text {
    text-align: justify;
    padding: 20px;
}

#tpop-select-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

#tpop-header {
    font-size: 3em;
    color: white;
    padding: 10px 0px;
    font-variant: small-caps;
}

#tpop-side {
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    line-height: 100%;
    height: 100%;
    padding: 2px 5px;
    color: #333;
}

#tpop-image-list {
    margin: auto;
    padding: 20px 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tpop-image {
    height: 40%;
}

.tpop-image.selected {
    border: 5px solid var(--cb_orange);
}

.tpop-image img {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#tpop-buttons {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

@keyframes loading-moving {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.loading {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    animation: loading-moving 10s ease infinite;
}

.overlay-drop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 40%;
    background-color: rgba(200,200,200,1.0);
    padding: 20px;
    border-radius: 10px;
    border: 3px dashed black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 3px 3px 10px black;
}

.overlay-drop .label {
    font-size: 1.5em;
    font-variant: small-caps;
    padding: 10px 0px;
}

.overlay-drop img {
    max-height: 100px;
    max-width: 100px;
    animation: animate-drop 1s infinite;  
}