* {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}

body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    margin: 0;
}

#teaser {
    width: 800px;
    height: 500px;
}

code {
    background-color: #dfdfdf;
    padding: 2px 5px;
    border-radius: 2px;
}

.main-text-area {
    width: 50%;
    min-width: 800px;
    margin: 20px auto;
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    position: relative;
}

p {
    text-align: justify;
}

.home {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    cursor: pointer;
}

.home::after {
    content: 'Home';
}

.home:hover {
    background-color: #e1e1e1;
}

.issue {
    font-style: italic;
}

.solution {
    font-weight: bold;
}

.sublogo {
    position: relative;
    float: right;
    max-width: 200px;
}

.faq-item {
    background-color: #f1f1f1;
    padding: 2px 20px;
}

.answer {
    overflow: hidden;
    transition: all .3s;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.answer.collapsed {
    height: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

#download-link {
    font-size: 1.4em;
    margin: 20px;
    font-variant: small-caps;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: black;
}

#download-link:hover {
    background-color: #e1e1e1;
}

#bug-list {
    width: 100%;
}

.bug-shorts,
#bug-heads
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #f1f1f1;
    width: 100%;
    cursor: pointer;
}


.bug-shorts:hover {
    background-color: #e1e1e1;
}

.bug-shorts:hover .bug-cell {
    background-color: rgb(245, 133, 44);
}

.bug-cell {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bug-head {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: rgb(211, 211, 211);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bug-head:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.bug-head.sorted {
    background-color: #4b4b4b;
    color: white;
}

.bug-head.sorted.asc::after {
    content: '▲';
}

.bug-head.sorted.desc::after {
    content: '▼';
}   

.bug-description{
    height: 0;
    overflow: hidden;
    transition: all .3s;
    background-color: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.bug-description.expanded {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.registered::before {
    content: 'Registered';
}

.wip::before {
    content: 'Work in Progress';
}

.wip {
    background-color: #fff2a5;
}

.solved {
    background-color: #d4ffd4;
}

.solved::before {
    content: 'Solved';
}

.aborted {
    background-color: #ffded4;
}

.aborted::before {
    content: 'Aborted';
}

.future-item {
    background-color: white;
    border: 2px solid #ddd;
    width: 90%;
    padding: 10px;
    margin: 10px;
}

.future-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.future-item-title {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

.future-item-text {
    height: 0;
    overflow: hidden;
    transition: all .3s;
    padding-left: 20px;
    padding-right: 20px;
}

.future-item-text.expanded {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
}

nav {
    min-width: 300px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: black;
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
}

.nav-button:hover {
    background-color: rgb(245, 133, 44);
}

.nav-button.inactive {
    background-color: #ccc;
}

a {
    color: rgb(164, 4, 42);
    white-space: nowrap;
}

a:hover {
    background-color: #f1f1f1;
}

a.extern::after {
    content: ' ⧉';
}